body {
  margin:0;
  padding: 0;
  padding-top: 50px;
}

.usertable {
  width: 300px;
}

#page {
  padding-top: 20px;
}


.projects .thumbnail{
   display:block;
   margin-left:auto;
   margin-right:auto;
   text-align:center;
   max-width:310px
}
.projects .thumbnail .caption{
   height:200px;
   overflow-y:hidden;
   color:#555
}
.projects .thumbnail .caption a:hover,.projects .thumbnail .caption a:focus{text-decoration:none}
.projects .thumbnail img{max-width:100%;height:auto}

/* wendu css */
