  <div class="row"> 
    
       <div class="col-sm-6 col-md-6 ">
          <div class="thumbnail">
            <img class="lazy" src="/client_images/lesscss.png" width="400" height="150" data-src="/client_images/lesscss.png">
            <div class="caption">
              <h3 style="color: #428bca;"> 
                一号鼓风机<br><small>{{chuzhaAction1}}号鼓风机,按下按钮亮绿灯，表示开启鼓风机，鼓风机开始工作.     再次按下按钮灯变灰，表示将关闭鼓风机!</small>
              </h3>
              <p>
                 <div class="switch demo1">
                   <input type="checkbox">
                    <label></label>
                 </div>
              </p>
            </div>
          </div>
       </div>

       <div class="col-sm-6 col-md-6 ">
          <div class="thumbnail">
            <img class="lazy" src="/client_images/lesscss.png" width="400" height="150" data-src="/client_images/lesscss.png">
            <div class="caption">
              <h3 style="color: #428bca;"> 
                二号鼓风机<br><small>{{chuzhaAction2}}号鼓风机,按下按钮亮绿灯，表示开启鼓风机，鼓风机开始工作.     再次按下按钮灯变灰，表示将关闭鼓风机!</small>
              </h3>
              <p>
                 <div class="switch demo1">
                   <input type="checkbox">
                    <label></label>
                 </div>
              </p>
            </div>
          </div>
       </div>
  </div>
