  <div class="row"> 
    <div class="row">
       <h3> 导航</h3>
    </div>
    
    <div class="row">
      <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#home">主控台</a></li>
            <li><a href="#jinliao">进料</a></li>
            <li><a href="#contact">出渣口</a></li>
            <li><a href="#contact">引风机</a></li>
            <li><a href="#contact">水泵</a></li>
            <li><a href="#contact">温度检测</a></li>
            <li><a href="#contact">鼓风机</a></li>
      </ul>
    </div>
  </div>
