  <div class="row"> 
    
       <div class="col-sm-6 col-md-4 ">
          <div class="thumbnail">
            <img class="lazy" src="/client_images/lesscss.png" width="400" height="150" data-src="/client_images/lesscss.png">
            <div class="caption">
              <h3 style="color: #428bca;"> 
                出渣口 推杆一<br><small>{{chuzhaAction1}}号推杆,按下按钮亮绿灯，推杆进推,表示出渣口出渣。再次按下推杆，按钮变灰，推杆回退，表示出渣完成!</small>
              </h3>
              <p>
                 <div class="switch demo1">
                   <input type="checkbox">
                    <label></label>
                 </div>
              </p>
            </div>
          </div>
       </div>


       <div class="col-sm-6 col-md-4 ">
              <h3 style="color: #428bca;">
                出渣口 推杆一<br><small>{{chuzhaAction1}}号推杆,按下按钮亮绿灯，推杆进推,表示出渣
口出渣。再次按下推杆，按钮变灰，推杆回退，表示出渣完成!</small>
              </h3>
              <p >
                 <div id="gauge.yinfeng.freq" class="200x160px" style="width:200px; height:160px;"></div>
              </p>
       </div>

        <div class="col-sm-6 col-md-4 ">
              <h3 style="color: #428bca;">
                出渣口 推杆一<br><small>{{chuzhaAction1}}号推杆,按下按钮亮绿灯，推杆进推,表示出渣
口出渣。再次按下推杆，按钮变灰，推杆回退，表示出渣完成!</small>
              </h3>
              <p >
                 <div id="gauge.yinfeng.current" class="200x160px"  style="width:200px; height:160px;"></div>
              </p>
       </div>

</div>
